@use '../variables' as *;
@use '../_functions.scss' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-10);
  padding: var(--space-20) var(--space-40);
  border-radius: var(--radius-8);
  border: 1px solid;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: inherit;

  &--black {
    border-color: $black;
    color: $black;

    &:hover {
      background: $black;
      color: $total-white;

      svg {
        fill: $total-white;
      }
    }
  }

  &--white {
    border-color: $total-white;
    color: $total-white;

    &:hover {
      background: $total-white;
      color: $black;

      svg {
        fill: $black;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
  }
}
