@use '../variables' as *;
@use '../_functions.scss' as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-10);
  border-radius: var(--radius-16);
  border: 1px solid;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: inherit;

  &--large {
    padding-top: var(--space-20);
    padding-bottom: var(--space-20);
  }

  &--medium {
    padding-top: #{px(18)};
    padding-bottom: #{px(18)};
  }

  &--default {
    padding-left: var(--space-40);
    padding-right: var(--space-40);
  }

  &--compact {
    padding-left: #{px(27.5)};
    padding-right: #{px(27.5)};
  }

  &--square {
    padding-left: #{px(18)};
    padding-right: #{px(18)};
  }

  &--icon-right {
    flex-direction: row-reverse;
  }

  &--black {
    border-color: $black;
    color: $black;

    &:hover {
      background: $black;
      color: $total-white;
    }
  }

  &--white {
    border-color: $total-white;
    color: $total-white;

    &:hover {
      background: $total-white;
      color: $black;
    }
  }

  &--green {
    border-color: $green;
    color: $total-white;

    .btn-icon {
      color: $green;
    }

    &:hover {
      background: $green;
      color: $total-white;

      .btn-icon {
        color: $total-white;
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    transition: color 0.3s ease-in-out;
  }
}
