@use 'breakpoints' as *;

// Mobile: до 768px
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// Desktop: от 1920px
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

// Large: от 2560px
@mixin large {
  @media (min-width: $large) {
    @content;
  }
}
