@use 'functions' as *;
@use 'mixins' as *;

h1 {
  font-size: px(68);
  line-height: px(76);
  letter-spacing: -0.03em;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(32);
    line-height: pxMob(33);
  }
}

h2 {
  font-size: px(40);
  line-height: px(44);
  letter-spacing: -0.03em;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(22);
    line-height: pxMob(24);
  }
}

h3 {
  font-size: px(24);
  line-height: px(28);
  letter-spacing: -0.01em;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(17);
    line-height: pxMob(20);
  }
}

h4 {
  font-size: px(19);
  line-height: px(24);
  letter-spacing: 0;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(14);
    line-height: pxMob(16);
  }
}

body,
p {
  font-size: px(14);
  line-height: px(22);
  letter-spacing: 0.02em;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(12);
    line-height: pxMob(16);
  }
}

// Utilities classes

.text-super {
  font-size: px(398);
  line-height: px(380);
  letter-spacing: -0.06em;
  font-weight: 400;
}

.text-big {
  font-size: px(171);
  line-height: px(160);
  letter-spacing: -0.06em;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(52);
    line-height: pxMob(46);
  }
}

.text-mini {
  font-size: px(12);
  line-height: px(16);
  letter-spacing: 0.02em;
  font-weight: 400;

  @include mobile {
    font-size: pxMob(10);
    line-height: pxMob(14);
  }
}

.text-label {
  font-size: px(11);
  line-height: px(16);
  letter-spacing: 0.05em;
  font-weight: 500;
  //   text-transform: uppercase;

  @include mobile {
    font-size: pxMob(9);
    line-height: pxMob(10);
  }
}
