// Brand Colors
$green: #1cac78;
$light-green: #21d795;
$dark-purple: #2e2748;
$black: #383838;
$gray: #f6f6f6;
$total-white: #ffffff;
$total-black: #000000;

// Breakpoints
$mobile: 375px;
$tablet: 1280px;
$desktop: 1920px;
$large: 2560px;
