@use './functions' as *;
@use './mixins' as *;

// Brand Colors
$green: #1cac78;
$light-green: #21d795;
$dark-purple: #2e2748;
$black: #383838;
$gray: #f6f6f6;
$total-white: #ffffff;
$total-black: #000000;

// Spacings
:root {
  --space-4: #{px(4)};
  --space-8: #{px(8)};
  --space-10: #{px(10)};
  --space-20: #{px(20)};
  --space-40: #{px(40)};

  @include mobile {
    --space-20: #{pxMob(18)};
  }
}

// Radiuses
:root {
  --radius-8: #{px(8)};
  --radius-16: #{px(16)};
}

// Shadows
