@use 'variables';
@use 'functions' as *;
@use 'mixins';
@use 'base';
@use 'typography';

html {
  font-size: 1vw;
}

@media (min-width: 1920px) {
  html {
    font-size: 19.2px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 25.6px;
  }
}
