@use 'breakpoints' as *;
@use 'variables';
@use 'functions' as *;
@use 'mixins' as *;
@use 'fonts';
@use 'base';
@use 'typography';
@use 'components/buttons';
@use 'components/icons';

html {
  font-size: 1vw;

  @include desktop {
    font-size: 19.2px;
  }

  @include large {
    font-size: 25.6px;
  }
}
